/* Justification du texte pour HTML */
/*p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    margin-bottom: 1.5em;
}
*/
/* Ajout d'une marge à gauche pour le contenu principal */
body {
    margin-right: 25px;
}

/* Sections et sous-sections */
h1, h2, h3 {
    margin-right: 25px;
}

/* Listes */
ul, ol {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

/* Notes de bas de page */
.footnotes {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

/* Blocs de citation */
blockquote {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}

/* Tableaux */
table {
    width: 100%;
}

/* Paragraphes dans les tableaux */
td p {
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
}
